.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
justfile
dist/
.idea/
.env*
aarchives
examples
removed.rs
toBeAdded.rs
AnchorBk.toml
zz*.sh
cicd*
backendFunc/
# Remove Cargo.lock from gitignore if creating an executable,
