PROGRAM_ID=
START_TIME=7
END_TIME=10
ENABLE_FAKE_API=
API_DELAY_SECONDS=3
LOOP_TOTAL=1
SIG_AMT_PER_LOOP=100
SOL_MIN=0.000001
SOL_MAX=9000000
IS_VERBOSE=
INSTR_PER_TX=10
TX_INTERVAL=1000

INFURA_APIKEY=
ALCHEMY_APIKEY=
QUICKNODE_KEY=
TATUM_MAINNET_KEY=
TATUM_TESTNET_KEY=
DUNE_KEY=
CRYPTOAPIS_KEY=
GETBLOCK_KEY=
ALLIUM_KEY=
SOLAN_APIKEY=

SOLANA_MAINNET_HTTPS1=
SOLANA_MAINNET_HTTPS2=
SOLANA_MAINNET_HTTPS3=
SOLANA_MAINNET_HTTPS4=
SOLANA_MAINNET_HTTPS5=

SOLANA_DEVNET_HTTPS1=
SOLANA_DEVNET_HTTPS2=
SOLANA_DEVNET_HTTPS3=
SOLANA_DEVNET_HTTPS4=
SOLANA_DEVNET_HTTPS5=

SOLANA_DEVNET_WSS1=
SOLANA_DEVNET_WSS2=
SOLANA_DEVNET_WSS3=

SOLANA_ADDR0=
SOLANA_ADDR1=
SOLANA_ADDR2=
SOLANA_ADDR3=

NEON_POSTGRES_URL=

POSTGRESQL_USER1=
POSTGRESQL_PW1=
POSTGRESQL_USER=
POSTGRESQL_PW=
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_DBNAME=
